{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Articles{% endblock %}

{% block content %}
<div class="flex flex-col md:flex-row mt-12">
  <div class="md:mr-32">
    <h1 class="font-serif text-gray-700 text-3xl font-thin leading-tight">
      Articles
    </h1>
    <hr class="mt-3 border-gray-500 w-10">
  </div>

  <div class="flex flex-col">
    {% for year, year_articles in articles|groupby('date.year')|sort(reverse=True) %}
    <h2 class="text-xl mb-3">{{year}}</h2>
    {% for article in year_articles %}
    <div class="mb-6">
      <div class="mb-1">
        <a class="text-gray-800 text-md font-bold hover:underline"
          href="/{{ article.slug }}.html">{{ article.title }}</a>
        <label class="text-sm font-light text-gray-500 ml-2">{{ article.locale_date }}</label>
      </div>
      <div class="font-serif text-gray-700 text-sm">
        {{ article.content|truncate(110) }}
      </div>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
</div>
{% endblock %}