<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89999434-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-89999434-5');
  </script>
  
  <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
  <link rel="manifest" href="favicons/site.webmanifest">
  <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
  <link href="https://fonts.googleapis.com/css?family=Yrsa:300,400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet">
  {% block style %}{% endblock %}
</head>

<body>
  <div class="bg-gray-200 font-sans">
    <nav class="bg-white">
      <div class="container mx-auto px-4 xl:px-20 md:pt-16 md:pb-4 flex justify-between items-center">
        <div class="flex font-display text-3xl text-gray-700 hover:text-gray-900">
          <a href="/">FG</a>
        </div>
        <div>
          <ul class="flex text-sm text-gray-600">
            <li class="ml-8">
              <a class="hover:text-gray-800" href="/#projects">Projects</a>
            </li>
            <li class="ml-8">
              <a class="hover:text-gray-800" href="/photos">Photos</a>
            </li>
            <li class="ml-8">
              <a class="hover:text-gray-800" href="/articles">Articles</a>
            </li>
            <li class="ml-8">
              <a class="hover:text-gray-800" href="/#about">About</a>
            </li>
            <li class="ml-8">
              <a class="hover:text-gray-800" href="/#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mx-auto px-4 xl:px-20">
      {% block content %}{% endblock %}
    </div>

    <footer class="bg-gray-800 mt-24">
      <div class="container mx-auto px-4 xl:px-20 text-gray-400 text-sm py-8 font-light">
        © Fabian Geiger 2019
      </div>
    </footer>
  </div>
</body>
</html>